<html>
    <head>
        <title>Success</title>
    </head>
    <body>
        <h1><u>Submitted Information</u></h1>
        <table>
            <tr>
                <td>Name:</td>
                <td><%= name %></td>
            </tr>
            <tr>
                <td>Dojo Location</td>
                <td><%= location %></td>
            </tr>
            <tr>
                <td>Favorite Language</td>
                <td><%= language %></td>
            </tr>
            <tr>
                <td>Comment</td>
                <td><%= comment %></td>
            </tr>
        </table>
        <a href="/goback"><button>Go Back</button></a>
    </body>
</html>