<!DOCTYPE html>
<html lang="en" dir="ltr">

<head>
  <meta charset="utf-8">
  <title>Add New Car</title>
  <link rel="stylesheet" href="../stylesheets/bootstrap.min.css">
  <link rel="stylesheet" href="../stylesheets/main.css">
  <meta name="viewport" content="width=device-width, initial-scale=1">
</head>

<body class>
  <div class="wrapper m-3">
    <header class="h1">Add A New Car!</header>
    <form action="index.html" method="post">
      <div class="form-group">
        <div class="form-group">
          <label for="newcar">Upload Photo:</label>
          <input type="file" class="form-control-file" name="newcar" aria-describedby="fileHelpId">
        </div>
        <button type="submit" class="btn btn-success">Submit</button>
      </div>
    </form>
  </div>
</body>

</html>
