<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Date Time</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">

  </head>
  <body>
    <form action='/result' method='post'>
        <div class="form-group">
          <label for="name">Your Name:</label>
          <input type="text" name="name" value='' class="form-control" id="name" placeholder="Full Name">
        </div>
        <div class="form-group">
          <label for="location">Dojo Location</label>
          <select class="form-control" name="location" id="location">
            <option>Chicago</option>
            <option>Dallas</option>
            <option>Seattle</option>
            <option>Silicon Valley</option>
            <option>Tulsa</option>
          </select>
        </div>
        <div class="form-group">
          <label for="language">Favorite Language</label>
          <select multiple class="form-control" name="language" id="language">
            <option>Javascript</option>
            <option>Python</option>
            <option>Ruby</option>
            <option>Mean</option>
            <option>Swift</option>
          </select>
        </div>
        <div class="form-group">
          <label for="about">Tell Us About Yourself</label>
          <textarea class="form-control" name="about" id="about" rows="3"></textarea>
        </div>
        <input class="btn btn-primary" type='submit' value="Submit">
      </form>
  </body>
</html>
