<!DOCTYPE html>
<html lang="en" dir="ltr">

<head>
  <meta charset="utf-8">
  <title>EJS Cats</title>
  <link rel="stylesheet" href="stylesheets/bootstrap.css">
  <link rel="stylesheet" href="stylesheets/main.css">
  <meta name="viewport" content="width=device-width, initial-scale=1">
</head>

<body class>
  <div class="wrapper m-3 text-center">
    <header class="display-4 text-center mb-3">EJS Cats</header>
    <div>
      <a href="<%= cats[0].name %>"><img src="images/eric-han-455080-unsplash.jpg" class="img-thumbnail"></a>
      <a href="<%= cats[1].name %>"><img src="images/kazuky-akayashi-702563-unsplash.jpg" class="img-thumbnail"></a>
      <a href="<%= cats[2].name %>"><img src="images/kote-puerto-771605-unsplash.jpg" class="img-thumbnail"></a>
      <a href="<%= cats[3].name %>"><img src="images/raoul-droog-771488-unsplash.jpg" class="img-thumbnail"></a>
    </div>
  </div>
</body>

</html>
