<!DOCTYPE html>
<html lang="en" dir="ltr">

<head>
  <meta charset="utf-8">
  <title> Details
  </title>
  <link rel="stylesheet" href="../stylesheets/bootstrap.css">
  <link rel="stylesheet" href="../stylesheets/main.css">
  <meta name="viewport" content="width=device-width, initial-scale=1">
</head>

<body class>
  <div class="wrapper m-3">
    <header class="h1 text-center">Details</header>
    <h3>Name:
      <%= cat.name =%>
    </h3>
    <h3>Favorite Food:
      <%= cat.fav_food =%>
    </h3>
  </div>
</body>

</html>
