<html>
    <head>
        <title>Otter Page</title>
    </head>
    <body>
        <h1>Otter <%= otter.name%>!</h1>
        <table>
            <tr>
                <td>Age</td>
                <td><%= otter.age %></td>
            </tr>
            <tr>
                <td>gender</td>
                <td><%= otter.gender %></td>
            </tr>
        </table>

        <a href="/"><button>Go back</button></a>
    </body>
</html>