<html>
    <head>
        <title>Cats</title>
    </head>
    <body>
        <h1>Cats!</h1>
        <a href="/cats/1"><img src="/cat1.jpg" alt="garfield"></a>
        <a href="/cats/2"><img src="/cat2.jpeg" alt="fat kitty"></a>
    </body>
</html>