<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title></title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
  </head>
  <body>

    <form action="/users" method="post">
      <input type="text" name="name" placeholder="Name">
      <input type="text" name="age" placeholder="Age">
      <button type="submit" class="btn btn-primary">Submit</button>
    </form>
    <table class="table">
  <thead>
    <tr>
      <th scope="col">Name</th>
      <th scope="col">Age</th>
    </tr>
  </thead>
  <tbody>
      <% for (var i in allUsers) { %>
        <tr>
          <td><%= allUsers[i].name %></td>
          <td><%= allUsers[i].age %></td>
          <td><%= allUsers[i].hobbies %></td>
        </tr>
      <% } %>

  </tbody>
</table>

  </body>
</html>
