<!DOCTYPE html>
<html lang="en" dir="ltr">
<head>
  <meta charset="utf-8">
  <title></title>
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css"
        integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
</head>
<body>
<div class="container">
  <h1>PLATYPODES!!</h1>
  <p><a href="/platypodes/new">Add New Platypus</a></p>
  <% for (let i = 0; i < platypodes.length; i++){ %>
    <h2><a href="/platypodes/<%= platypodes[i]._id %>"><%= platypodes[i].name %> , <%= platypodes[i].age %></a></h2>
  <% } %>
</div>
</body>
</html>
