<!DOCTYPE html>
<html>
<head>
	<title>Results</title>
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script type="text/javascript" src="/socket.io/socket.io.js"></script>
    <script type ="text/javascript">
        $(document).ready(function (){
    
            var socket = io(); //1
                socket.on('results', function(data){
                	var results = data
                })
         })
    </script>
</head>
<body>
<h1>Results:</h1>
<h2><%= data %></h2>
</body>
</html>