<html>
<head>
	<script type="text/javascript">

	</script>
</head>
<body>
<h1>Hello</h1>
<form action="/quotes" method="post">
	Name:<input type="text" name="name">
	Quote:<input type="text" name="quote">
	<input type="submit" value="Submit">
</form>
<a href="/quotes_list">See list of quotes.</a>
</body>
</html>