<html>
<head>
	<script type="text/javascript">

	</script>
</head>
<body>
<h1> Here are some awesome quotes!</h1>
<% for(var quote of quotes){ %>
<h2>"<%= quote.quote %>"</h2>
<h3>&#09;&#09;-<%= quote.name %></h3>
<% } %>
</body>
</html>