<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title></title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
  </head>
  <body>
    <div class="container mt-5">
      <h1 class="text-center"> Here are the awesome quotes </h1>
      <div class="container">
        <ul class="list-group col-10">
          <!-- Use Array.prototype.reverse() for the array -->
         <% for (var quote of quotes.reverse()) { %>
           <li class="list-group-item border-bottom border-dark m-2">
             <h5>"<%= quote.quote %>"</h5>
             <h6 class="text-primary">-<%= quote.name %> at <%= quote.createdAt %></h6>
           </li>
         <% } %>
       </ul>
      </div>
  </body>
</html>
