<!--The content below is only a placeholder and can be replaced.-->
<div class='container-fluid mh-100'>
        <div class='row'>
            <h2>Your Gold:</h2>
            <h2 class='border border-dark'> {{ gold }} </h2>
        </div>
        <div class='row'>
            <form class="" action="" method="post" (submit)='onSubmit()'>
              <p>{{ game | json }}</p>
              <input type="text" name="game.name" placeholder="Player Name" [(ngModel)]='game.name'>
              <button class='btn btn-success m-1' type="submit" name="button">Start New Game!</button>
            </form>
        </div>
        <div class="row">
          <a class='btn btn-primary' href="" (click)='updateGold()'>Save Game!</a>
        </div>

        <div class='row'>
            <div class='col-lg-2 border border-dark m-1'>
                <h1>Farm</h1>
                <p>(earns 10-20 Gold)</p>
                <input type="hidden" name="building" value="farm" />

                <button class='btn btn-primary m-1' type="button" name="button" (click)="farmGold()">Find Gold!</button>
            </div>
            <div class='col-lg-2 border border-dark m-1'>
                <h1>Cave</h1>
                <p>(earns 5-10 Gold)</p>
                <input type="hidden" name="building" value="cave" />
                <button class='btn btn-primary m-1' type="button" name="button" (click)="caveGold()">Find Gold!</button>
            </div>
            <div class='col-lg-2 border border-dark m-1'>
                <h1>House</h1>
                <p>(earns 2-5 Gold)</p>
                <input type="hidden" name="building" value="house" />
                <button class='btn btn-primary m-1' type="button" name="button" (click)="houseGold()">Find Gold!</button>            </div>
            <div class='col-lg-2 border border-dark m-1'>
                <h1>Casino</h1>
                <p>(earns/takes 0-50 Gold)</p>
                <input type="hidden" name="building" value="casino" />
                <button class='btn btn-primary m-1' type="button" name="button" (click)="casinoGold()">Find Gold!</button>
            </div>
        </div>
        <div class='row'>
            <h4>Activities:</h4>
        </div>
        <div id='activity' class='row border border-dark'>
            <div class='col-lg-8'>
                <p class="">You entered i.location and i.outcome i.money
                    gold! (i.date_time)</p>
            </div>
        </div>
    </div>

<router-outlet></router-outlet>
