<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Quoting Dojo - Quotes</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
  </head>
  <body>
    <div class="container p-4">
      <h1>Here are all the awesome quotes!</h1>
      <ul class="list-group col-10">
        <% for (var quote of all_quotes.reverse()) { %>
          <li class="list-group-item border-bottom border-dark m-2">
            <h5>"<%= quote.quote %>"</h5>
            <h6 class="text-primary">-<%= quote.name %> at <%= quote.createdAt %></h6>
          </li>
        <% } %>
      </ul>
      <a href="/" class="btn btn-dark m-2">Enter another quote</a>
    </div>
  </body>
</html>
