<!--The content below is only a placeholder and can be replaced.-->
<div id="body">
    <img src="https://vignette.wikia.nocookie.net/nintendo/images/2/2f/Coin_-_New_Super_Mario_Bros.png/revision/latest?cb=20151206061007&path-prefix=en" alt="coin">
    <div id="header">
        <button [routerLink]="['/home']">Home</button>
        <button [routerLink]="['/mine']">Mine Coins</button>
        <button [routerLink]="['/buy']">Buy Coins</button>
        <button [routerLink]="['/sell']">Sell Coins</button>
        <button [routerLink]="['/browse']">Browse Ledger</button>
    </div>
</div>
<router-outlet></router-outlet>
