img {
    width: 8%;
    margin-right: 100px;
}
#header {
    display: inline-block;
    vertical-align: top;
}
button {
    font-size: 24px;
    padding: 5px 20px;
    border-radius: 10px;
    background-color: lightgray;
    margin: 0px 20px;
}
#body {
    margin: 50px 0px 100px 50px;
}