<html>
<head>
	<script type="text/javascript">

	</script>
</head>
<body>
<h1><%= mongoose.name %></h1>
<h2>Age: <%= mongoose.age %></h2>
<h2>Gender: <%= mongoose.gender %></h2>
<h2>Favorite Food: <%= mongoose.favorite_food %></h2>
<a href="/">Back</a>
</body>
</html>