<html>
    <head>
        <title>Counter</title>
    </head>
    <body>
        <h1>Counter</h1>
        <h2><%= session.count %></h2>
        <a href="/add"><button>add 2</button></a>
        <a href="/reset"><button>reset</button></a>
    </body>
</html>