<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title></title>
    <link rel="stylesheet" type="text/css" href="/stylesheets/style.css">

  </head>
  <body>
    <h2>Do you like cats with bowties?</h2>
    <a href="cats/bird"><img src="../images/cat1.jpg" alt="cat with bowtie"></a>
    <a href="cats/chicken"><img src="../images/cat2.jpg" alt="cats"></a>
  </body>
</html>
