<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title></title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
  </head>
  <body>
    <div class="container">
      <h1 class="text-center">Counter</h1>
      <h3><%= count %></h3>
      <a href="/add"><button type="button" name="button" class="btn btn-primary">Add</button></a>
      <a href="/reset"><button type="button" name="button" class="btn btn-danger">reset</button></a>
    </div>
  </body>
</html>
