<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title></title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script type="text/javascript" src="/socket.io/socket.io.js"></script>
    <script defer type ="text/javascript">
        $(document).ready(function (){
          var socket = io(); //1
          socket.on('button_push', function(data) {
            $('#header').html(`<h1>The button has been pushed ${data.times} Times</h1>`);
          });

          $('.epic_button').click(function() {
            socket.emit('epic_button_push');
          });

          $('.reset').click(function() {
            socket.emit('reset');
          })
        });
    </script>
  </head>
  <body>
    <div id='wrapper'>
      <div id='header'>
        <h1>The button has been pushed <%= num %> Times</h1>
      </div>
      <button class='epic_button'>make a button</button>
      <button class='reset'>reset</button>
    </div>
  </body>
</html>
