<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title></title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
  </head>
  <body>
    <div class="container">
      <h2>Submitted Information</h2>
      <div class="row">
        <div class="col-4">
          Name:
        </div>
        <div class="col-4">
          <%= info.name %>
        </div>
      </div>
      <div class="row">
        <div class="col-4">
          Dojo Location:
        </div>
        <div class="col-4">
          <%= info.location %>
        </div>
      </div>
      <div class="row">
        <div class="col-4">
          Favorite Language:
        </div>
        <div class="col-4">
          <%= info.language %>
        </div>
      </div>
      <div class="row">
        <div class="col-4">
          Comment:
        </div>
        <div class="col-4">
          <%= info.comment %>
        </div>
      </div>

    </div>
  </body>
</html>
