<!--The content below is only a placeholder and can be replaced.-->
<div class="container">
  <div style="text-align:center">
      <h1>Restful Task API Interactive </h1>
      <h2>All the tasks:</h2>

<button class="btn btn-success" type="button" (click)="getTasksFromService()">Get all Tasks</button>
</div>

<div style="text-align:center" *ngFor="let task of tasks">
  <p>{{ task.title }}</p>
  <!-- search by task id -->
  <button (click)="getTaskById(task._id)">Show</button>
</div>

  <!-- only to display in the oneTaskbyID array -->
  <div style="text-align:center" *ngIf="this.oneTaskbyID">
    <p>{{this.oneTaskbyID.title}}</p>
    <p>{{this.oneTaskbyID.description}}</p>
  </div>

<router-outlet></router-outlet>
