<html>
<body>
<h1>Results</h1>
<h2>Name: <%= results.name %></h2>
<h2>Location: <%= results.location %></h2>
<h2>Favorite Language: <%= results.language %></h2>

<a href="/">Go Back</a>
</body>
</html>