<!DOCTYPE html>
<html lang="en">
<head>

    <title>Displaying <%= cat.name %>'s Info</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">

</head>
<body>
    <div >
        <h1 class="bg-primary text-light">Displaying <%= cat.name %>'s Info %></h1>
        <p>Name: <%= cat.name %></p>
        <p>Age: <%= cat.age %></p>
        <a class='btn btn-primary' href='/'>Back</a>
    </div>
</body>
</html>
