<!DOCTYPE html>
<html lang="en" dir="ltr">

<head>
    <meta charset="utf-8">
    <title>Counter</title>
</head>

<body>
    <h1 class="text-primary">Counter!</h1>
    <p>Times visited:
        <%= counter %>
    </p>
    <p>
        <a href="/twice"> <button type="button"> +2 </button></a>
    </p>

    <p>
        <a href="/reset"> <button type="button">Reset</button></a>
    </p>
</body>

</html>
