<html>
    <head>
        <title>Cars</title>
    </head>
    <body>
        <h1>Cars!</h1>
        <img src="/car1.jpg" alt="red camaro">
        <img src="/car2.jpeg" alt="black corvette">
    </body>
</html>