<!DOCTYPE html>
<html lang="en" dir="ltr">

<head>
  <meta charset="utf-8">
  <title>Cars</title>
  <link rel="stylesheet" href="stylesheets/bootstrap.min.css">
  <link rel="stylesheet" href="stylesheets/main.css">
  <meta name="viewport" content="width=device-width, initial-scale=1">
</head>

<body class>
  <div class="wrapper">
    <header class="h1">Cool Pictures of Cars!</header>
    <img src="images/court-prather-603203-unsplash.jpg" class="img-thumbnail">
    <img src="images/hyunwon-jang-594588-unsplash.jpg" class="img-thumbnail">
    <img src="images/neonbrand-264286-unsplash.jpg" class="img-thumbnail">
    <img src="images/jason-leung-729287-unsplash.jpg" class="img-thumbnail">
  </div>
</body>

</html>
