<!DOCTYPE html>
<html lang="en" dir="ltr">

<head>
  <meta charset="utf-8">
  <title>Cats</title>
  <link rel="stylesheet" href="stylesheets/bootstrap.min.css">
  <link rel="stylesheet" href="stylesheets/main.css">
  <meta name="viewport" content="width=device-width, initial-scale=1">
</head>

<body class>
  <div class="wrapper">
    <h1>Cool Pictures of Cats!</h1>
    <img src="images/eric-han-455080-unsplash.jpg" class="img-thumbnail">
    <img src="images/kazuky-akayashi-702563-unsplash.jpg" class="img-thumbnail">
    <img src="images/kote-puerto-771605-unsplash.jpg" class="img-thumbnail">
    <img src="images/raoul-droog-771488-unsplash.jpg" class="img-thumbnail">
  </div>
</body>

</html>
