<!DOCTYPE html>
<html>
<head>
	<title>Add Dog</title>
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
</head>
<body>
	<div class="container p-4">
		<a href="/">Back</a>
		<h1>Add A New Dog!</h1>
        <% if(messages.create) { %>
            <% for (var x of messages.create) { %>
             <h3><%= x %></h3>
            <% } %>
        <% } %>		
        <form action="/dog" method="POST">
			<div id="form">
				<label for="name">Dog's Name:</label>
				<input type="text" name="name">
				<label for="age">Dog's Age:</label>
				<input type="text" name="age">
				<label for="gender">Gender:</label>
				<select name="gender">
					<option value="male">Male</option>
					<option value="female">Female</option>
				</select>
			</div>
			<button type="submit">Add</button>
		</form>
	</div>

</body>
</html>