<!DOCTYPE html>
<html>
<head>
	<title>Dog Info</title>
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
</head>
<body>
	<div class="container p-4">
		<a href="/">Back</a>
	    <h1><%= dog.name %> Info</h1>
	    <ul class="list-group col-10">
	    	<li class="list-group-item">
	    		Name: <%= dog.age %>
	    	</li>
	        <li class="list-group-item">
	        	Name: <%= dog.gender %>
	        </li>
	    </ul>
    </div>
</body>
</html>