<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Dogs are Better</title>
    <link rel="stylesheet" type="text/css" href="/stylesheets/style.css">

  </head>
  <body>
    <h1 class='heading'>Dogs rule cats drool</h1>
    <a href='/cats/1'><img src="/images/dog1.jpg" alt="dog1"></a>
    <a href='/cats/2'><img src="/images/dog2.jpg" alt="dog1"></a>
    <a href='/cats/3'><img src="/images/dog3.jpg" alt="dog1"></a>


  </body>
</html>
